body                        /*Main background*/
{
  margin: 20;
  background: #999;
  font-family: arial;
}

p                           /*Paragraphs*/
{
  /*background: #666;*/
  color: white;
  padding: 10px 15px 0 15px;
}

/*header
{
  background: 999;
  color: red;
  padding: 20px 15px 0 15px;
}*/

h1                        /*Main title*/
{
  margin: 20;
  display: inline;
  color: white;
}

nav ul
{
  margin: 0;
  padding: 0 0 0 15px;
  display: inline;
}

nav ul li
{
  background: black;
  color: white;
  display: inline-block;
  list-style-type: none;
  margin: 5px;
  padding: 5px 15px;
}

nav ul li a
{
  color: purple;
}

/*.row
{
  clear: both;
}*/

/*.col
{
  background: #333;
  border-radius: 5px;
  padding: 10px .5%;
  float: left;
  margin: .5%;
  width: 31%;
}*/

footer
{
  clear: both;
  display: block;   /*A new addition*/
}

table
{
  width: 400px;
}

table, th, td
{
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 10px;            /*Original under th*/
}

/*th
{
    padding: 10px;
}*/

tr:nth-child(even)
{
  background-color: #fff;
}

tr:nth-child(odd)
{
  background-color: #ddd;
}

form
{
  width: 600px;
}

/*input
{
  width: 100%;
}*/

textarea
{
  resize: vertical;
  max-height: 300px;
}

input:focus, textarea:focus
{
  box-shadow: 0 0 4px rgba(255, 0, 0, 0.5);
  border: 1px solid rgb(255, 0, 0);
}

/*::placeholder
{
  color: blue;
  opacity: 1;
}*/

::-ms-input-placeholder
{
  color: grey;
}
