
#body /*Ei toimi*/
{
    background: lightblue;    
    /*background: #FFFFFF (url WWWCourse/Images/www_course_lopputyö.jpg) repeat-x;*/
}

#header
{
    height: 10px;
    margin: 0px auto 15px auto;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #FFF5DC;     /*Kiisselinkeltainen*/ /*Ei kai vain... näy???*/
    background: #999        /*Grey*/ /*Toimii I guess*/
}

/*#header headie
{
    background-color: orange;
    font-size: 60px;
    font-family: Helvetica;
}*/

h1 /*Toimii!*/
{
    background-color: orange;
    /*font-size: 60px;
    font-family: Helvetica;*/
}

#topmenu
{
    display: block;
    list-style: none;
    padding: 0 0px 0px 278px;
    float: right;
    width: 615px;
}

#topmenu li
{
    display: inline;
}

#topmenu a
{
    display: block;
    float: left;
    height: 36px;
    margin: 0px 0px 0px 0px;
    text-decoration: none;
    padding: 9px 15px 10px 15px;
    text-align: center;
}

#topmenu a, #topmenu a:visited, #topmenu a:active /*Toimii*/
{
    color: #008000;     /*Green*/
}

#topmenu a:hover
{
    color: #FFFFFF;     /*White*/
    background-color: #B52E10;      /*Dark red*/
}

#topmenu .active a:visited, #topmenu .active a:active
{
    color: #660066;     /*Dark purple*/
    background-color: #B52E10;      /*Dark red*/
}


#mainpage blockquote /*?*/
{
    background: #efefef;        /*Dark white*/
    display: block;
    margin: 5px;
    font: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
}

#wrap /*Text - Toimii!*/
{
    width: 350px;
    margin: 0px auto 15px auto;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #000000;     /*Black*/
}

#type
{
    font-family: verdana;
    font-size: 20px;
} 

#table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

#td, th {
  border: 1px solid #000000;        /*Black*/
  text-align: left;
  padding: 8px;
}

#tr:nth-child(even) {
  background-color: #000000;        /*Black*/
}
