




---
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 30%;
  height: 300px; /* only for demonstration, should be removed */
  background: #ccc;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
  height: 300px; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}


/*body 
{
    background-color: lightblue;
    background: #F0FFFF (url Images/www_course_lopputyö.jpg) repeat-x;
}

#header
{
    height: 240px;
    margin: 0px auto 15px auto;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #F5F5DC;
}*/


/* Header Menu */

/*#topmenu
{
    display: block;
    list-style: none;
    padding: 0 0px 0px 278px;
    float: right;
    width: 415px;
}

#topmenu li
{
    display: inline;
}

#topmenu a
{
    display: block;
    float: left;
    height: 28px;
    margin: 0px 0px 0px 0px;
    text-decoration: none;
    padding: 9px 15px 0px 15px;
    text-align: center;
}

#topmenu a, #topmenu a:visited, #topmenu a:active
{
    color: #FFFFFF;
}

#topmenu a:hover
{
    color: #FFFFFF;
    background-color: #B52E10;
}

#topmenu .active a, #topmenu .active a:visited, #topmenu .active a:active
{
    color: #FFFFFF;
    background-color: #B52E10;
}

#mainpage 
{
    width: 700px;
    float: left;
    padding: 5px 5px 5px 0px;
    height: auto;
}

#mainpage blockquote
{
    background: #efefef;
    display: block;
    margin: 5px;
    font: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
}


#wrap
{
    width: 700px;
    margin: 0px auto 15px auto;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #666666;
}

#topbar
{
    height: 78px;
}*/

/*
type
{
    font-family: verdana;
        font-size: 20px;
} */
