
#body 
{
    background-color: lightblue;
    /*background: #FFFFFF (url WWWCourse/Images/www_course_lopputyö.jpg) repeat-x;*/
}

#header
{
    height: 10px;
    margin: 0px auto 15px auto;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #FFF5DC;
}

/*#header headie
{
    background-color: orange;
    font-size: 60px;
    font-family: Helvetica;
}*/

h1
{
    background-color: orange;
    font-size: 60px;
    font-family: Helvetica;
}

#topmenu
{
    display: block;
    list-style: none;
    padding: 0 0px 0px 278px;
    float: right;
    width: 615px;
}

#topmenu li
{
    display: inline;
}

#topmenu a
{
    display: block;
    float: left;
    height: 36px;
    margin: 0px 0px 0px 0px;
    text-decoration: none;
    padding: 9px 15px 10px 15px;
    text-align: center;
}

#topmenu a, #topmenu a:visited, #topmenu a:active
{
    color: #FFFFFF;
}

#topmenu a:hover
{
    color: #FFFFFF;
    background-color: #B52E10;
}

#topmenu .active a:visited, #topmenu .active a:active
{
    color: #FFFFFF;
    background-color: #B52E10;
}


#mainpage blockquote /*?*/
{
    background: #efefef;
    display: block;
    margin: 5px;
    font: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
}

#wrap
{
    width: 350px;
    margin: 0px auto 15px auto;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #FFFFFF;
}

#type
{
    font-family: verdana;
        font-size: 20px;
} 

#table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

#tr:nth-child(even) {
  background-color: #dddddd;
}
